---
import Layout from '../layouts/Layout.astro'
import CardInfo from '../components/CardInfo.astro'
import { getPageInfo, getPosts } from '../lib/wp'
import type { Post } from '../types/post'

const { title, content } = await getPageInfo('inicio')
const posts = await getPosts({ perPage: 3 })
---

<Layout title="Libros de La Pedriza">
  <section class="bg-gray-900 text-white py-20">
    <div class="container mx-auto px-4 text-center">
      <code>Página con datos de la API de WP</code>
      <h1 class="text-5xl font-bold mb-6">
        {title}
      </h1>
      <p class="text-xl max-w-2xl mx-auto" set:html={content} />
    </div>
  </section>
  <section class="container mx-auto px-4 py-12">
    <h2 class="text-3xl font-bold mb-8 text-center">
      Últimos libros seleccionados
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {posts.map((post: Post) => <CardInfo {...post} />)}
    </div>
  </section>
</Layout>
